.pageheader__title {
  //color:$primary-color;
  margin-bottom: 0;
}
.prettytitle {
  position: relative;
  color:$black;
  font-weight: $global-weight-bold;
  margin:0 0 4rem;
  line-height: 1.1;
  small {
    display: block;
    font-weight: $global-weight-normal;
    font-size: 90%;
    color:inherit;
    line-height: inherit;
    animation-delay: .5s;
  }
  span {
    color:$primary-color;
  }

  .ps--accent &{
    color:inherit;
    span {
      color:$black;
    }
  }
}
.projectsquare {
  position: relative;
  overflow:hidden;
  height:0;
  padding-bottom: 100%;

}
.projectsquare__img {
  display: block;
  margin:0;
  padding:0;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  img {
    display: block;
  }

}

.projectsquare__name {
  margin:0;
  font-size: 1rem;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  > a {
    opacity: 1;
    text-align: center;
    //color:$black;
    color:transparent;
    //font-weight: $global-weight-bold;
    font-size: .75rem;
    line-height: 1;
    //color:transparent;
    overflow: hidden;
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:1rem;
    background-color: rgba(#000,.5);
    transition: opacity .2s ease-in;
    //transform:translateY(-50%);
    &:before {
      content:'';
      display: block;
      width:100%;
      height:50%;
      height:calc(100% - .5rem);
    }
    // &:after {
    //   bottom:auto;
    //   top:100%;
    // }
    &:hover, &:focus {
      opacity: 0;
      //filter: sepia(1);
    }
  }
}

.card {
  margin-bottom: 3rem;
}

.card__illustration {
  margin:0 0 1rem;
  padding:0;
  a {
    display: block;
    filter: saturate(2.875) grayscale(.875);
    transition: filter .2s;
    [data-whatinput=mouse] & {
      outline:0;
    }
    &:hover, &:focus {
      filter: saturate(1) grayscale(0);
    }
  }

  img {
    display: block;
  }
}

.card__title {
  color:black;
  padding:0 8%;
  .card--narrow & {
    @include breakpoint(large) {
      font-size: 1.25rem;
    }
  }
  .card--simple & {
    padding:0;
  }
  a {
    color:inherit;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

.card__text {
  padding:0 8%;
  font-size: .875rem;
  @include breakpoint(xlarge) {
    font-size: 1rem;
  }
  .card--narrow & {
    @include breakpoint(large) {
      font-size: .75rem;
    }
    @include breakpoint(xlarge) {
      font-size: .875rem;
    }
  }
  .card--simple & {
    padding:0;
  }
}

.membersquare {
  margin-bottom: 3rem;
}

.membersquare__photo {
  margin:0 0 .75rem;
  padding: 0;
}
.membersquare__name {
  color:$black;
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: 0;
  line-height: 1.4;
}

.membersquare__jobtitle {
  font-size: .875rem;
  line-height: 1.4;
  font-style: italic;
  color:$primary-color;
  margin-bottom: .75rem;
}
.membersquare__descr {
  font-size: .875rem;
  border-top: 1px solid $primary-color;
  padding-top: .5rem;
  p {
    margin-bottom: .5rem;
  }
}

.membersquare__email {
  font-size: .75rem;
  color:$black;
  font-weight: 400;
  transition: color .2s;
  &.hover, &:focus {
    color:$primary-color;
  }
}


.clientlogo {
  //background-color: red;
  margin:0 0 1rem;
  height:0;
  padding:0 0 66.666%;
  position: relative;
  > img {
    position: absolute;
    left:0;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:100%;
    max-width:73%;
    max-height:90%;
  }
  figcaption {
    display: none;
  }
}


.projectcontent {
  > p:first-child{
    font-size: .875rem;
    line-height: 1.4;
  }
}
.projectnav {
  @include clearfix();
  //border-top: 1px solid $light-gray;
  margin-top: 1.5rem;
  //padding-top: .5rem;
  font-size: .666rem;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;
  a {
    display: inline-block;
    color: inherit;
    &:hover, &:focus {
      color:$primary-color;
    }
  }

  a[rel=next] {
    //float:right;
    //margin-left: 1rem;
  }

  .icon {
    display: inline-block;
    font-size: .666em;
  }
}

.wstarter {
  &:hover, &:focus {
    outline:none;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
}

.plist {
  display: none;
}
