.prettytitle {
  font-weight: $global-weight-bold;
  margin:0 0 4rem;
  line-height: 1.1;
  small {
    display: block;
    font-weight: $global-weight-normal;
    font-size: 90%;
    color:inherit;
    line-height: inherit;
    animation-delay: .5s;
  }
  span {
    color:$primary-color;
  }

  .ps--accent &{
    color:inherit;
    span {
      color:$black;
    }
  }
}
.projectsquare {
  position: relative;
  overflow:hidden;
  height:0;
  padding-bottom: 100%;

}
.projectsquare__img {
  display: block;
  margin:0;
  padding:0;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;

}

.projectsquare__name {
  margin:0;
  font-size: 1rem;
  > a {
    opacity: 1;
    color:transparent;
    overflow: hidden;
    display: block;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:1rem;
    background-color: rgba(#000,.5);
    top:50%;
    transform:translateY(-50%);
    &:before, &:after {
      content:'';
      display: block;
      bottom:100%;
      left:0;
      width:100%;
      height:10rem;
    }
    &:after {
      bottom:auto;
      top:100%;
    }
    &:hover, &:focus {
      opacity: 0;
      //filter: sepia(1);
    }
  }
}

.card {
  margin-bottom: 3rem;
}

.card__illustration {
  margin:0 0 1rem;
  padding:0;
}

.card__title {
  padding:0 8%;
}

.card__text {
  padding:0 8%;
  font-size: .875rem;
  @include breakpoint(xlarge) {
    font-size: 1rem;
  }
}

.membersquare {
  margin-bottom: 3rem;
}

.membersquare__photo {
  margin:0 0 .75rem;
  padding: 0;
}
.membersquare__name {
  font-size: .875rem;
  margin-bottom: 0;
  line-height: 1.4;
}

.membersquare__jobtitle {
  font-size: .875rem;
  line-height: 1.4;
  font-style: italic;
  color:$primary-color;
  margin-bottom: .75rem;
}
.membersquare__descr {
  font-size: .875rem;
  border-top: 1px solid $primary-color;
  padding-top: .5rem;
  p {
    margin-bottom: .5rem;
  }
}

.membersquare__email {
  font-size: .75rem;
  color:$black;
  &.hover, &:focus {
    color:$primary-color;
  }
}

.clientlogo {
  margin:0 0 1rem;
  padding:0;
  figcaption {
    display: none;
  }
}