.fsocials {
  list-style-type: none;
  margin:0;
  padding:0;
  > li {
    display: inline-block;
    margin: 0 .25rem;
    > a {
      display: inline-block;
      font-size: 1.5rem;
    }
  }
}


.sitefooter {
  font-size: .875rem;
  padding-top: 2rem;
  font-weight: $global-weight-bold;
  padding-bottom: 2rem;
  .page-template-tmpl-home &{
    padding-top: 6vh;
    min-height: 4rem;
  }
  span {
    color: $black;
  }

  .widget {
    margin:.333rem 0 1rem 0;
  }
}


