#intro {
  h3 {
    font-size: 1.125rem;
    font-weight: $global-weight-bold;
    font-weight: 400;
    margin-bottom:0;
  }
}
.homeintromore {
  font-size: 1.5rem;
  margin-top: .5rem;
  float:right;
  color:$black;
}