.keyboard {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 12;
  // display: none;
  opacity:0;
  transition: opacity .2s ease .2s;
  &.active {
    opacity: 1;
  }
}
.keyboard .holder {
  @include clearfix();
  position: relative;
  width: calc(8rem + 4px);
  float:right;
}
.keyboard {
  .button {
    display: block;
    height:4rem;
    width:4rem;
    line-height: 2rem;
    font-size: 1.3333rem;
    margin:1px;
    float:left;
    overflow: hidden;
    outline: none;
    .icon {
      display: inline-block;
      transform:scale(1.333);
    }
    // background-color: rgba($white,.5);
    // box-shadow: 0 0 1px 0 rgba($black,.5);
    // color:$primary-color;

  }
  .button.up {
    position: absolute;
    bottom:100%;
    left:33.333%;
    float:none;
    display: none;
  }
  .button.down {
    display: none;
  }
}



