.keyboard {
  position: fixed;
  width: 100%;
  bottom: -4rem;
  z-index: -1;
  // display: none;
  opacity:0;
  transition: all .2s ease .2s;
  &.active {
    opacity: 1;
    z-index: 12;
    bottom:0;
  }

  .single-project & {
    opacity: 1;
    z-index: 12;
    bottom:0;
  }
}



.keyboard .holder {
  @include clearfix();
  position: relative;
  font-size: 1.25rem;
  width: calc(6em + 4px);
  float:right;
}
.keyboard {
  .button {
    display: block;
    height:3em;
    width:3em;
    line-height: 3;
    font-size: 1em;
    padding:0;
    margin:1px;
    float:left;
    overflow: hidden;
    outline: none;
    &:hover, &.pressed {
      color:$primary-color;
      background-color: $white;
    }
    .icon {
      display: inline-block;
      transform:translateY(.1em) scale(1.333);
    }
    // background-color: rgba($white,.5);
    // box-shadow: 0 0 1px 0 rgba($black,.5);
    // color:$primary-color;

  }
}


/*******/
.realkeyboard {
  position: fixed;
  width: 50%;
  left:25%;
  bottom: 30px;
  z-index: 12;
  display: none;

 .holder {
    width: 99px;
    margin: 0 auto;
  }

  body[data-whatinput="touch"] & {
    display:none;
  }
}

.realkeyboard .holder {

.btn {
  width: 31px;
  height: 31px;
  float: left;
  text-align: center;
  background-color: rgba($black,.125);
  color:rgba($white,.75);
  //box-shadow: 0 0 1px 0 rgba($black,.5);
  .icon {
    line-height: 31px;
    display: inline-block;
    font-size: .75rem;
  }
  //transition: all .2s;
}
.btn.pressed {
  color:rgba($primary-color,.75);
  background-color: rgba($dark-gray,.125);
}
.btn.up {
  margin: 0 33px;

}

.btn.left {
  margin: 2px 2px 0 0;
  float: left;
}

.btn.down {
  margin: 2px 2px 0 0;
  float: left;
}
.btn.down .pressed {
}


.btn.right {
  margin: 2px 0 0 0;
  float: left;
}
}