.pageheader {
  position: relative;
}

.ps {
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 4rem;
  .page-template-tmpl-home &{
    min-height: calc(100vh - 4rem);
  }
}
.ps--narrow {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .page-template-tmpl-home &{
    min-height:4rem;
  }
}


.ps--dark {
  background-color: $dark-gray;

}
.ps--accent {
  background-color: $primary-color;
  color:$white;
  a {
    color:$white;
    &:hover, &:focus {
      color:$black;
    }
  }
}

.overexp {
  margin-left: -.625rem;
  margin-right: -.625rem;
  @include breakpoint(large) {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
  }
}
.works {
  background-color: $black;
  overflow:hidden;
}


