.ps {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.ps--dark {
  background-color: $dark-gray;
}
.ps--accent {
  background-color: $primary-color;
  color:$white;
}

.overexp {
  margin-left: -.625rem;
  margin-right: -.625rem;
  @include breakpoint(large) {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
  }
}