.projectcarousel {
  margin-bottom: 2rem;
  img {
    //height:12rem;
    width:100vw !important;
    max-width: none;
    @include breakpoint('large') {
      width:auto !important;
      max-width: none;
      min-height: 20rem;
      height:66.666vh;
      max-height: 768px;
    }
  }
}
#process.ps {
  padding-bottom: 0;
}
.processcarousel {
  //margin-bottom: 2rem;
  padding-bottom: 4rem;

}

.owl-nav {
  position: absolute;
  bottom:0;
  right:0;
  //background-color: rgba($primary-color,.875);
  > div {
    display: inline-block;
    width:2em;
    height:2em;
    background-color: $primary-color;
    color: $white;
    text-align: center;
    font-size: 2.25rem;
    line-height: 1;
    padding-top: .5em;
    transition:all .2s;
    &.disabled {
      background-color: $light-gray;
      cursor: auto !important;
      &:hover, &:focus {
        background-color: $light-gray;
      }
    }
    &:hover, &.focus {
      background-color: $black;
    }
    .icon {
      display: inline-block;
    }


  }
  > div.owl-next {
    margin-left: 1px;
  }
}

.aboutcarousel {
  .ps {
    padding-bottom:6rem;
    //background-color: $white;
    overflow:hidden;
  }
}

.whatwedocarousel, .processcarousel {
  .owl-nav {
    display: none;
    opacity:0;
    visibility: 0;
  }
}