/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &:after {
    content:'';
    display: block;
    position: fixed;
    z-index:2001;
    left:2vw;
    top:0;
    height:90px;
    width:10rem;
    background-image: url('../images/spire.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 40%;
  }
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $white;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  width: calc(100% - 90px);
  height: 91px;

  @include breakpoint('tablet') {
    width: calc(100% - 475px);
  }
}


.page-template-tmpl-landing {
  .pace .pace-progress {
    background: white;
    position: fixed;
    z-index: 2003;
    top: 50%;
    right: 100%;
    width: 100%;
    height: 1px;
    &:after {
      display: none;
    }
  }
}

.thecover {
  z-index:2002;
  position: fixed;
  left:0;top:0;
  width:100%;
  height:100%;
  transition:z-index .1s ease .6s;
  &:before, &:after {
    content: '';
    position: absolute;
    left:0;
    width:100%;
    height:50%;
    background-color: $primary-color;
    transition:height .6s ease;
  }
  &:before {
    top:0;
  }
  &:after {
    bottom:0;
    background-color: $primary-color;
  }

  &.opening {
    &:before, &:after {
      height:0;
    }
  }
  &.rejtve {
    pointer-events: none;
    z-index: -1;
  }
}