.sticky-container {
  // @include breakpoint(tablet) {
 min-height: rem-calc(90);
  // }
}

.sticky {
  @include breakpoint(tablet) {
  }
}
.top-bar {
  line-height: 1;
  width:100%;
}

.top-bar-title {
  @include breakpoint(tablet) {
  }
}
.top-bar-right {
  float:none;
  @include breakpoint(tablet) {
    float:right;
  }
}

.responsive-menu {
  clear:both;
  @include breakpoint(tablet) {
    clear:none;
  }
}
.menu--main {
  text-align: center;
  font-weight: 400;
  > li {
    display: block;
    float:left;
    width: 50%;

    @include breakpoint(tablet) {
      display: table-cell;
      float:none;
      width:auto;
    }

    > a {
      white-space: nowrap;
      background-color: $black;
      color:$white;
      text-transform: uppercase;
      font-size: .666rem;
      // transition:all .4s ease .4s;
      min-width: rem-calc(95);
      &.active {
        color: $primary-color;
        background-color: $white;
        &:hover {
          cursor: default;
          background-color: $white;
        }
      }
      &:hover {
        background-color: scale-color($black, $lightness: 14%);
      }
      // .top-bar.is-stuck & {
      //   padding-top:1.5rem;
      //   padding-bottom: 1.5rem;
      // }
    }
  }
}

.top-bar .menu--main {
  @include clearfix();
  background-color: $black;

}

.homelogo {
  //background-color: red;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background-image: url('../images/logo.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  //width:8rem;
  width:10rem;
  margin:1.75rem 0 1.666rem 2vw;

  height:0;
  padding-bottom:18.518518%;
  //margin: 1rem 0 .875rem 2vw;
  @include breakpoint(tablet) {
    width:10rem;
    margin:1.75rem 0 1.666rem 2vw;
  }

  // .top-bar.is-stuck & {
  //   width:8rem;
  //   margin: .9125rem 0 .875rem 2vw;
  // }
}

.csiki {
  position: absolute;
  right:1rem;
  top:2.125rem;
}